Repository freeorion/freeorion, pull requests merged in 2019-09, with the labels that each got.

#2542 Implement team support at start
  default/python/auth/auth.py
  network/Networking.cpp
  network/Networking.h
  python/server/ServerWrapper.cpp
  universe/UniverseGenerator.cpp
  util/MultiplayerCommon.cpp
  util/MultiplayerCommon.h
  util/SerializeMultiplayerCommon.cpp
Labels: category:feature, component:network

#2544 Notify clients about changes in the player list
  client/AI/AIClientApp.cpp
  client/ClientFSMEvents.h
  client/human/HumanClientApp.cpp
  client/human/HumanClientFSM.cpp
  client/human/HumanClientFSM.h
  network/Message.cpp
  network/Message.h
  server/ServerFSM.cpp
Labels: category:bug, category:feature, component:UI, component:network

#2550 Don't wait for orders from eliminated empire
  server/ServerApp.cpp
  server/ServerFSM.cpp
Labels: category:bug, component:internal, component:network

#2547 Armed ships criteria
  Empire/Empire.cpp
  Empire/Supply.cpp
  combat/CombatSystem.cpp
  python/UniverseWrapper.cpp
  python/server/ServerWrapper.cpp
  server/ServerApp.cpp
  universe/Condition.cpp
  universe/Effect.cpp
  universe/Fleet.cpp
  universe/Fleet.h
  universe/Ship.cpp
  universe/ShipDesign.cpp
  universe/ShipDesign.h
Labels: category:tweak, component:game mechanic, component:internal

#2543 Add game rule to manage diplomatic interaction between players
  Empire/Diplomacy.cpp
  Empire/Diplomacy.h
  Empire/EmpireManager.cpp
  default/stringtables/en.txt
Labels: category:feature, component:game mechanic

#2560 add gaseous metabolism to census wnd
  default/scripting/species/SpeciesCensusOrdering.focs.txt
  default/stringtables/en.txt
Labels: category:tweak, component:UI

#2561 Add missing parentheses to upkeep.macros
  default/scripting/common/upkeep.macros
Labels: category:bug, category:tweak, component:content scripting

#2563 Check client message size before memory allocation to prevent DoS
  default/stringtables/en.txt
  network/ServerNetworking.cpp
  server/dmain.cpp
Labels: category:bug, component:internal, component:network

#2567 Two effective fuel for robo hull
  default/scripting/ship_hulls/robotic/SH_ROBOTIC.focs.txt
Labels: category:tweak, component:content scripting

#2566 Add extra fuel Titan (-1 ext) and Scattered Ast. (-2 ext) Hulls
  default/scripting/ship_hulls/asteroid/SH_SCATTERED_ASTEROID.focs.txt
  default/scripting/ship_hulls/robotic/SH_TITANIC.focs.txt
Labels: category:bug, category:tweak, component:content scripting

#2569 Fix ship designs after slot changes (Self Gravi & Titanic)
  default/scripting/ship_designs/SD_GRAVITATING1.focs.txt
  default/scripting/ship_designs/SD_GRAVITATING2.focs.txt
  default/scripting/ship_designs/SD_ROBO_TITAN1.focs.txt
Labels: category:bug, component:content scripting, status:merged

#2568 Make Scylior BAD_SUPPLY and BAD_FUEL
  default/scripting/species/SP_SCYLIOR.focs.txt
Labels: category:tweak, component:content scripting

#2562 Launching fighters uncloaks stealth carrier
  combat/CombatSystem.cpp
Labels: category:tweak, component:game mechanic, priority:high

#2571 Add missing meter types to MeterTypeDumpString (also SecondaryStat)
  universe/Condition.cpp
Labels: category:tweak, component:internal

#2574 Fix loading multiplayer game with eliminted empire
  UI/MultiplayerLobbyWnd.cpp
  server/ServerFSM.cpp
Labels: category:bug, component:UI, component:internal, component:network, priority:high

#2573 Warning Reduction and Grooming
  UI/CombatReport/CombatLogWnd.cpp
  python/CommonFramework.cpp
  server/ServerApp.cpp
  util/Process.cpp
  util/Process.h
Labels: category:tweak, component:internal

#2575 Silence Refuel Message if less than 1 MaxFuel. Set 0.x MaxFuel to 0
  default/scripting/ship_hulls/ship_hulls.macros
  default/stringtables/en.txt
Labels: category:tweak, component:content scripting
