Repository freeorion/freeorion, pull requests merged in 2021-11, with the labels that each got.

#3596 Disable debug for Godot tests
  .github/workflows/build-ubuntu.yml
  .github/workflows/build-windows.yml
Labels: category:bug, component:infrastructure, status:merged, component:godot-client

#3593 Rework and rename Balance policy to Moderation
  default/scripting/policies/INDUSTRIALISM.focs.txt
  default/scripting/policies/MODERATION.focs.txt
  default/scripting/policies/STOCKPILE_LIQUIDATION.focs.txt
  default/scripting/policies/TECHNOCRACY.focs.txt
  default/scripting/species/SP_BEIGEGOO.focs.txt
  default/scripting/species/SP_CHATO.focs.txt
  default/scripting/species/SP_DERTHREAN.focs.txt
  default/scripting/species/SP_EAXAW.focs.txt
  default/scripting/species/SP_FULVER.focs.txt
  default/scripting/species/SP_HUMAN.focs.txt
  default/scripting/species/SP_SSLITH.focs.txt
  default/scripting/species/SP_TAEGHIRUS.focs.txt
  default/scripting/species/SP_TRENCHERS.focs.txt
  default/scripting/techs/construction/ARCH_PSYCH.focs.txt
  default/stringtables/en.txt
  default/stringtables/fr.txt
Labels: category:bug, component:content scripting, category:tweak

#3602 Some improvements to BUREAUCRACY
  default/scripting/policies/BUREAUCRACY.focs.txt
Labels: category:bug, component:content scripting, category:tweak

#3600 spatial flux rework
  default/data/art/icons/ship_parts/flux-lance.png
  default/scripting/common/named_values.focs.txt
  default/scripting/encyclopedia/ship_hull/HULL_LINE_SPATIAL_FLUX.focs.txt
  default/scripting/ship_hulls/spatial_flux/SH_SPACE_FLUX_BUBBLE.focs.txt
  default/scripting/ship_hulls/spatial_flux/SH_SPACE_FLUX_COMPOSITE.focs.txt
  default/scripting/ship_hulls/spatial_flux/SH_SPATIAL_FLUX.focs.txt
  default/scripting/ship_hulls/spatial_flux/spatial_flux.macros
  default/scripting/ship_parts/ShortRange/SR_FLUX_LANCE.focs.txt
  default/scripting/techs/ship_hulls/robotic/SHP_CONTGRAV_MAINT.focs.txt
  default/scripting/techs/ship_hulls/robotic/SHP_NANOROBO_MAINT.focs.txt
  default/scripting/techs/ship_hulls/spatial_flux/SHP_SPACE_FLUX_BUBBLE.focs.txt
  default/scripting/techs/ship_hulls/spatial_flux/SHP_SPACE_FLUX_COMPOSITION.focs.txt
  default/scripting/techs/ship_hulls/spatial_flux/SHP_SPACE_FLUX_DRIVE.focs.txt
  default/scripting/techs/ship_weapons/short_range/SHP_SPACE_FLUX_BASICS.focs.txt
  default/stringtables/en.txt
  test/parse/TestPythonParser.cpp
Labels: category:refactoring, component:content scripting

#3605 AI entries for FLUX techs, hulls, and lance
  default/python/AI/AIDependencies.py
  default/python/AI/ResearchAI.py
  default/python/AI/ShipDesignAI.py
  default/python/AI/TechsListsAI.py
Labels: component:AI, category:tweak
