Repository freeorion/freeorion, pull requests merged in 2021-12, with the labels that each got.

#3612 Fix removing team home systems used in sequential functions
  default/python/universe_generation/universe_generator.py
Labels: category:bug, component:content scripting

#3614 Add test for separate tech checksum
  test/parse/TestPythonParser.cpp
  test/system/TestChecksum.cpp
Labels: category:refactoring, component:content scripting, status:merged

#3604 More Bureaucracy, plus mini improvement
  default/scripting/policies/BUREAUCRACY.focs.txt
  default/stringtables/en.txt
  universe/Universe.cpp
Labels: category:bug, component:content scripting, category:tweak

#3615 Refactored and fixed starlane bores
  default/scripting/buildings/STARLANE_BORE.focs.txt
  default/scripting/buildings/STARLANE_NEXUS.focs.txt
  default/scripting/buildings/buildings.macros
  default/stringtables/en.txt
  universe/Conditions.cpp
Labels: category:bug, component:content scripting, component:game mechanic

#3623 Make Trith have average environments (RADIATED_STANDARD)
  default/scripting/species/SP_TRITH.focs.txt
Labels: component:content scripting, category:tweak

#3613 Convert techs/construction/CONTROL_GRAV_ARCH.focs
  default/scripting/techs/construction/CONTROL_GRAV_ARCH.focs.py
  default/scripting/techs/construction/CONTROL_GRAV_ARCH.focs.txt
  default/scripting/tox.ini
  parse/ConditionPythonParser.cpp
  parse/EffectPythonParser.cpp
Labels: category:refactoring, component:content scripting, status:merged

#3631 PLC_LIBERTY -2 stability; for stability >= 6 +2 research
  default/scripting/policies/LIBERTY.focs.txt
Labels: component:content scripting, category:tweak

#3629 fix planet_id safety check
  default/python/AI/FreeOrionAI.py
Labels: category:bug, component:AI
