Repository freeorion/freeorion, pull requests merged in 2022-02, with the labels that each got.

#3634 Replace Terraforming (reversion) by targeted Terraforming.
  default/scripting/buildings/TERRAFORM.focs.txt
  default/scripting/buildings/TERRAFORM_REVERT.focs.txt
  default/scripting/techs/growth/TERRAFORM.focs.txt
  default/stringtables/de.txt
  default/stringtables/en.txt
  default/stringtables/es.txt
  default/stringtables/fr.txt
  default/stringtables/ru.txt
  util/VarText.cpp
  util/VarText.h
Labels: component:content scripting, category:tweak

#3691 replace field mouseover image with high-res version
  default/data/art/misc/field_mouseover.png
Labels: category:refactoring, component:art music text assets, category:tweak

#3693 Try to hide CI SmokeTestHostless failure
  .github/workflows/build-ubuntu.yml
Labels: category:bug, component:infrastructure

#3686 add influence stockpile to PlayerListWnd
  UI/PlayerListWnd.cpp
Labels: category:feature, component:UI

#3646 purely cosmetic changes in english texts
  default/scripting/species/SP_LAENFA.focs.txt
  default/scripting/species/SP_NYMNMN.focs.txt
  default/stringtables/en.txt
  test/system/TestChecksum.cpp
Labels: component:art music text assets, category:tweak

#3665 add native species Nightsiders, Sleepers, Khakturian, Celestephyte
  UI/EncyclopediaDetailPanel.cpp
  UI/LinkText.cpp
  UI/LinkText.h
  default/data/art/icons/specials_huge/cactus.png
  default/data/art/icons/species/celestephyte.png
  default/data/art/icons/species/khakturian.png
  default/data/art/icons/species/nightsiders.png
  default/data/art/icons/species/thenian.png
  default/python/AI/AIDependencies.py
  default/python/universe_generation/natives.py
  default/scripting/buildings/BIOTERROR_PROJECTOR.focs.txt
  default/scripting/buildings/colonies/col_bld_gen.py
  default/scripting/ship_designs/required/SD_SMALL_TROOP_SHIP.focs.txt
  default/scripting/specials/planet/ECCENTRIC_ORBIT.focs.txt
  default/scripting/specials/planet/TIDAL_LOCK.focs.txt
  default/scripting/specials/planet/WORLDTREE.focs.txt
  default/scripting/specials/planet/monster_nest/monster_nest.macros
  default/scripting/specials/system/DERELICT_4.focs.txt
  default/scripting/species/SP_BANFORO.focs.txt
  default/scripting/species/SP_BEIGEGOO.focs.txt
  default/scripting/species/SP_CELESTEPHYTE.focs.txt
  default/scripting/species/SP_DERTHREAN.focs.txt
  default/scripting/species/SP_EAXAW.focs.txt
  default/scripting/species/SP_EXOBOT.focs.txt
  default/scripting/species/SP_FIFTYSEVEN.focs.txt
  default/scripting/species/SP_FULVER.focs.txt
  default/scripting/species/SP_FURTHEST.focs.txt
  default/scripting/species/SP_GYSACHE.focs.txt
  default/scripting/species/SP_HHOH.focs.txt
  default/scripting/species/SP_HUMAN.focs.txt
  default/scripting/species/SP_KHAKTURIAN.focs.txt
  default/scripting/species/SP_KILANDOW.focs.txt
  default/scripting/species/SP_LAENFA.focs.txt
  default/scripting/species/SP_LEMBALALAM.focs.txt
  default/scripting/species/SP_MISIORLA.focs.txt
  default/scripting/species/SP_MUURSH.focs.txt
  default/scripting/species/SP_NIGHTSIDERS.focs.txt
  default/scripting/species/SP_NYMNMN.focs.txt
  default/scripting/species/SP_OURBOOLS.focs.txt
  default/scripting/species/SP_PHINNERT.focs.txt
  default/scripting/species/SP_RAAAGH.focs.txt
  default/scripting/species/SP_REPLICON.focs.txt
  default/scripting/species/SP_SLEEPERS.focs.txt
  default/scripting/species/SP_SLY.focs.txt
  default/scripting/species/SP_SSLITH.focs.txt
  default/scripting/species/SP_TAEGHIRUS.focs.txt
  default/scripting/species/SP_THENIAN.focs.txt
  default/scripting/species/SP_TRENCHERS.focs.txt
  default/scripting/species/SP_TRITH.focs.txt
  default/scripting/species/common/env.macros
  default/scripting/species/common/focus.macros
  default/scripting/species/common/influence.macros
  default/scripting/species/common/population.macros
  default/scripting/species/common/telepathic.macros
  default/stringtables/en.txt
  universe/Effects.cpp
  universe/Species.h
Labels: category:feature, component:content scripting

#3690 Flux bubble should decrease colony building time
  default/scripting/buildings/colonies/SP_ABADDONI.focs.txt
  default/scripting/buildings/colonies/SP_BANFORO.focs.txt
  default/scripting/buildings/colonies/SP_CHATO.focs.txt
  default/scripting/buildings/colonies/SP_CRAY.focs.txt
  default/scripting/buildings/colonies/SP_DERTHREAN.focs.txt
  default/scripting/buildings/colonies/SP_EAXAW.focs.txt
  default/scripting/buildings/colonies/SP_EGASSEM.focs.txt
  default/scripting/buildings/colonies/SP_ETTY.focs.txt
  default/scripting/buildings/colonies/SP_FULVER.focs.txt
  default/scripting/buildings/colonies/SP_FURTHEST.focs.txt
  default/scripting/buildings/colonies/SP_GEORGE.focs.txt
  default/scripting/buildings/colonies/SP_GYSACHE.focs.txt
  default/scripting/buildings/colonies/SP_HAPPY.focs.txt
  default/scripting/buildings/colonies/SP_HHHOH.focs.txt
  default/scripting/buildings/colonies/SP_HUMAN.focs.txt
  default/scripting/buildings/colonies/SP_KILANDOW.focs.txt
  default/scripting/buildings/colonies/SP_KOBUNTURA.focs.txt
  default/scripting/buildings/colonies/SP_LAENFA.focs.txt
  default/scripting/buildings/colonies/SP_MISIORLA.focs.txt
  default/scripting/buildings/colonies/SP_MUURSH.focs.txt
  default/scripting/buildings/colonies/SP_PHINNERT.focs.txt
  default/scripting/buildings/colonies/SP_REPLICON.focs.txt
  default/scripting/buildings/colonies/SP_SCYLIOR.focs.txt
  default/scripting/buildings/colonies/SP_SETINON.focs.txt
  default/scripting/buildings/colonies/SP_SILEXIAN.focs.txt
  default/scripting/buildings/colonies/SP_SLY.focs.txt
  default/scripting/buildings/colonies/SP_SSLITH.focs.txt
  default/scripting/buildings/colonies/SP_SUPER_TEST.focs.txt
  default/scripting/buildings/colonies/SP_TAEGHIRUS.focs.txt
  default/scripting/buildings/colonies/SP_TRITH.focs.txt
  default/scripting/buildings/colonies/SP_UGMORS.focs.txt
  default/scripting/buildings/colonies/col_bld_gen.py
  default/scripting/encyclopedia/techs/ship_hulls/FLUX_HULL_TECHS.focs.txt
  default/scripting/techs/ship_hulls/spatial_flux/SHP_SPACE_FLUX_BUBBLE.focs.txt
  default/scripting/techs/ship_hulls/spatial_flux/SHP_SPACE_FLUX_COMPOSITION.focs.txt
  default/scripting/techs/ship_hulls/spatial_flux/SHP_SPACE_FLUX_DRIVE.focs.txt
  default/stringtables/en.txt
Labels: component:content scripting, category:tweak

#3688 Apply defensive flanking bonus only if there are at least two defenders
  default/scripting/policies/FLANKING.focs.txt
Labels: component:content scripting, category:tweak

#3659 Expand Pedia Quick Start Guide
  default/stringtables/en.txt
Labels: component:art music text assets, category:tweak

#3652 Add README to st-tool
  check/README.md
Labels: category:feature, component:infrastructure, component:art music text assets

#3699 fix arrows (remove cut off glow)
  default/data/art/icons/buttons/downarrowclicked.png
  default/data/art/icons/buttons/downarrowmouseover.png
  default/data/art/icons/buttons/leftarrowclicked.png
  default/data/art/icons/buttons/leftarrowmouseover.png
  default/data/art/icons/buttons/rightarrowclicked.png
  default/data/art/icons/buttons/rightarrowmouseover.png
  default/data/art/icons/buttons/uparrowclicked.png
  default/data/art/icons/buttons/uparrowmouseover.png
Labels: component:art music text assets, category:tweak

#3697 Fix mutual exclusions between policies, keep list ordered
  default/scripting/policies/ARTISAN_WORKSHOPS.focs.txt
  default/scripting/policies/AUTOMATED_RESEARCH.focs.txt
  default/scripting/policies/BLACK_MARKET.focs.txt
  default/scripting/policies/CENTRALIZATION.focs.txt
  default/scripting/policies/CHECKPOINTS.focs.txt
  default/scripting/policies/COLONIALISM.focs.txt
  default/scripting/policies/COLONIZATION.focs.txt
  default/scripting/policies/CONFEDERATION.focs.txt
  default/scripting/policies/CONFORMANCE.focs.txt
  default/scripting/policies/DIVERSITY.focs.txt
  default/scripting/policies/DIVINE_AUTHORITY.focs.txt
  default/scripting/policies/ENVIRONMENTALISM.focs.txt
  default/scripting/policies/FEUDALISM.focs.txt
  default/scripting/policies/INDOCTRINATION.focs.txt
  default/scripting/policies/INDUSTRIALISM.focs.txt
  default/scripting/policies/ISOLATION.focs.txt
  default/scripting/policies/LIBERTY.focs.txt
  default/scripting/policies/MARTIAL_LAW.focs.txt
  default/scripting/policies/METROPOLES.focs.txt
  default/scripting/policies/MODERATION.focs.txt
  default/scripting/policies/NATIVE_APPROPRIATION.focs.txt
  default/scripting/policies/RACIAL_PURITY.focs.txt
  default/scripting/policies/TECHNOCRACY.focs.txt
  default/scripting/policies/TERROR_SUPPRESSION.focs.txt
  default/scripting/policies/THE_HUNT.focs.txt
  default/scripting/policies/VASSALIZATION.focs.txt
Labels: category:bug, component:content scripting, category:tweak

#3707 allow multiple pedia tags per article
  UI/EncyclopediaDetailPanel.cpp
Labels: component:UI, category:tweak

#3695 Some pedia improvements
  default/credits.xml
  default/scripting/buildings/SCANNING_FACILITY.focs.txt
  default/scripting/encyclopedia/game_concepts/species_traits/ARTISTIC.focs.txt
  default/scripting/ship_hulls/organic/organic.macros
  default/scripting/ship_hulls/robotic/SH_ROBOTIC.focs.txt
  default/scripting/species/SP_CELESTEPHYTE.focs.txt
  default/scripting/species/SP_CRAY.focs.txt
  default/scripting/species/SP_CYNOS.focs.txt
  default/scripting/species/SP_DERTHREAN.focs.txt
  default/scripting/species/SP_EAXAW.focs.txt
  default/scripting/species/SP_EGASSEM.focs.txt
  default/scripting/species/SP_FIFTYSEVEN.focs.txt
  default/scripting/species/SP_FULVER.focs.txt
  default/scripting/species/SP_FURTHEST.focs.txt
  default/scripting/species/SP_GEORGE.focs.txt
  default/scripting/species/SP_HAPPY.focs.txt
  default/scripting/species/SP_HUMAN.focs.txt
  default/scripting/species/SP_LAENFA.focs.txt
  default/scripting/species/SP_MISIORLA.focs.txt
  default/scripting/species/SP_OURBOOLS.focs.txt
  default/scripting/species/SP_SCYLIOR.focs.txt
  default/scripting/species/SP_SILEXIAN.focs.txt
  default/scripting/species/SP_SLY.focs.txt
  default/scripting/species/SP_SSLITH.focs.txt
  default/scripting/species/SP_SUPERTEST.focs.txt
  default/scripting/species/SP_TAEGHIRUS.focs.txt
  default/scripting/species/SP_THENIAN.focs.txt
  default/scripting/species/SP_TRITH.focs.txt
  default/scripting/species/common/happiness.macros
  default/scripting/species/common/influence.macros
  default/stringtables/en.txt
Labels: component:art music text assets, category:tweak

#3708 Hack to allow multi-line commands in debug chat
  default/python/AI/freeorion_tools/chat_handler/interpreter.py
  default/python/README.md
Labels: component:AI, component:infrastructure, category:tweak

#3714 Fix typo in string tables. Fixes #3713
  default/stringtables/en.txt
  default/stringtables/es.txt
  default/stringtables/fr.txt
  default/stringtables/ru.txt
Labels: category:bug, component:AI

#3696 Stabilitytweaks
  default/scripting/policies/CONFEDERATION.focs.txt
  default/scripting/species/common/happiness.macros
  default/scripting/species/common/influence.macros
  default/stringtables/en.txt
Labels: category:refactoring, component:content scripting

#3720 Balance colonization and centralization
  default/scripting/buildings/colonies/SP_ABADDONI.focs.txt
  default/scripting/buildings/colonies/SP_BANFORO.focs.txt
  default/scripting/buildings/colonies/SP_CHATO.focs.txt
  default/scripting/buildings/colonies/SP_CRAY.focs.txt
  default/scripting/buildings/colonies/SP_DERTHREAN.focs.txt
  default/scripting/buildings/colonies/SP_EAXAW.focs.txt
  default/scripting/buildings/colonies/SP_EGASSEM.focs.txt
  default/scripting/buildings/colonies/SP_ETTY.focs.txt
  default/scripting/buildings/colonies/SP_EXOBOT.focs.txt
  default/scripting/buildings/colonies/SP_FULVER.focs.txt
  default/scripting/buildings/colonies/SP_FURTHEST.focs.txt
  default/scripting/buildings/colonies/SP_GEORGE.focs.txt
  default/scripting/buildings/colonies/SP_GYSACHE.focs.txt
  default/scripting/buildings/colonies/SP_HAPPY.focs.txt
  default/scripting/buildings/colonies/SP_HHHOH.focs.txt
  default/scripting/buildings/colonies/SP_HUMAN.focs.txt
  default/scripting/buildings/colonies/SP_KILANDOW.focs.txt
  default/scripting/buildings/colonies/SP_KOBUNTURA.focs.txt
  default/scripting/buildings/colonies/SP_LAENFA.focs.txt
  default/scripting/buildings/colonies/SP_MISIORLA.focs.txt
  default/scripting/buildings/colonies/SP_MUURSH.focs.txt
  default/scripting/buildings/colonies/SP_PHINNERT.focs.txt
  default/scripting/buildings/colonies/SP_REPLICON.focs.txt
  default/scripting/buildings/colonies/SP_SCYLIOR.focs.txt
  default/scripting/buildings/colonies/SP_SETINON.focs.txt
  default/scripting/buildings/colonies/SP_SILEXIAN.focs.txt
  default/scripting/buildings/colonies/SP_SLY.focs.txt
  default/scripting/buildings/colonies/SP_SSLITH.focs.txt
  default/scripting/buildings/colonies/SP_SUPER_TEST.focs.txt
  default/scripting/buildings/colonies/SP_TAEGHIRUS.focs.txt
  default/scripting/buildings/colonies/SP_TRITH.focs.txt
  default/scripting/buildings/colonies/SP_UGMORS.focs.txt
  default/scripting/buildings/colonies/col_bld_gen.py
  default/scripting/common/upkeep.macros
  default/scripting/policies/CENTRALIZATION.focs.txt
  default/scripting/policies/COLONIZATION.focs.txt
  default/scripting/ship_parts/Colony/CO_COL_OUTPOST.focs.txt
Labels: component:content scripting, category:tweak
