Repository freeorion/freeorion, pull requests merged in 2022-11, with the labels that each got.

#4286 Add missing default_focus definitions
  default/scripting/species/SP_ACIREMA.focs.txt
  default/scripting/species/SP_ANCIENT_GUARDIANS.focs.txt
  default/scripting/species/SP_CYNOS.focs.txt
  default/scripting/species/SP_EXOBOT.focs.txt
  default/scripting/species/SP_GYSACHE.focs.txt
  default/scripting/species/SP_MISIORLA.focs.txt
  default/scripting/species/SP_MUURSH.focs.txt
  default/scripting/species/SP_NYMNMN.focs.txt
  default/scripting/species/SP_SUPERTEST.focs.txt
  default/scripting/species/SP_TRENCHERS.focs.txt
Labels: category:bug, component:content scripting

#4305 Fix crash on remote_enpoint
  server/ServerNetworking.cpp
Labels: category:bug, component:network, status:merged, priority:high

#4308 Fix reading players list from Python API
  server/ServerFramework.cpp
Labels: category:bug, status:merged, component:internal, priority:high

#4311 Cache NSIS installer to not download it each time
  .github/workflows/build-windows-msvs.yml
Labels: component:infrastructure, status:merged, category:tweak

#4289 Tweak probability of Ancient Guardians
  default/scripting/game_rules.focs.py
  default/scripting/specials/planet/monster_guard.macros
Labels: component:content scripting, category:tweak

#4298 Join all flake8 configs and tasks together
  .github/actions/flake8-lint/action.yml
  .github/workflows/python-check.yml
  .pre-commit-config.yaml
  check/st-tool.py
  default/python/tox.ini
  test-scripting/tox.ini
  tox.ini
Labels: component:infrastructure, category:tweak

#4300 [AI] Improved rating of propaganda and algo_research
  default/python/AI/PolicyAI.py
Labels: component:AI, category:tweak

#4314 Replaced graphics for colony base hull.
  default/data/art/hulls_design/colony_base_hull-old.png
  default/data/art/hulls_design/colony_base_hull.png
  default/data/art/icons/ship_hulls/colony_base_hull_small-old.png
  default/data/art/icons/ship_hulls/colony_base_hull_small.png
Labels: component:art music text assets, category:tweak

#4318 [AI] Fix availableFoci in AI interface, regenerate AI interface
  default/python/AI/freeOrionAIInterface.pyi
  python/UniverseWrapper.cpp
Labels: category:bug, component:AI

#3977 more gradual and less effective BLD_LIGHTHOUSE effect for planets/buildings
  default/scripting/buildings/LIGHTHOUSE.focs.txt
  default/stringtables/en.txt
Labels: component:content scripting, category:tweak

#4295 Restore parallel species parsing
  default/scripting/species/SpeciesCensusOrdering.focs.py
  default/scripting/species/SpeciesCensusOrdering.focs.txt
  parse/DummyParsers.cpp
  parse/Parse.h
  parse/SpeciesParser.cpp
  test-scripting/species/SpeciesCensusOrdering.focs.py
  test-scripting/species/SpeciesCensusOrdering.focs.txt
  test/parse/TestPythonParser.cpp
  util/AppInterface.cpp
Labels: category:bug, component:content scripting, component:internal, priority:high

#4316 [AI] Refactor table printing
  default/python/AI/AIstate.py
  default/python/AI/ColonisationAI.py
  default/python/AI/InvasionAI.py
  default/python/AI/ResearchAI.py
  default/python/AI/ResourcesAI.py
  default/python/AI/empire/survey_universe.py
  default/python/AI/production/_report.py
  default/python/common/print_utils/__init__.py
  default/python/common/print_utils/_table.py
  default/python/stub_generator/stub_generator/class_generator.py
  default/python/tests/common/test_print_utils.py
  default/python/universe_generation/universe_statistics.py
Labels: category:refactoring, component:AI

#4333 Readd game rule factor for building cost
  default/scripting/buildings/TRANSLATOR.focs.txt
Labels: category:bug, component:content scripting, status:cherry-pick for release

#4332 Nerf Necessity on lower pop, higher stability planets
  default/scripting/policies/NECESSITY.focs.txt
  default/stringtables/en.txt
Labels: component:content scripting, status:cherry-pick for release, category:tweak

#4334 Fix Dismiss Crash
  universe/Universe.cpp
Labels: category:bug, status:merged, component:internal, status:cherry-pick for release
