Repository freeorion/freeorion, pull requests merged in 2022-08, with the labels that each got.

#4023 [AI] Fix role detection for orbital defense
  default/python/AI/FleetUtilsAI.py
Labels: category:bug, component:AI

#4025 Stop auto-advance turn on error
  client/human/HumanClientFSM.cpp
Labels: category:bug, component:UI, status:merged

#4027 Convert default/scripting/techs/ship_weapons/fighters/SHP_FIGHTERS_2.focs
  default/scripting/techs/ship_weapons/fighters/SHP_FIGHTERS_2.focs.py
  default/scripting/techs/ship_weapons/fighters/SHP_FIGHTERS_2.focs.txt
  default/scripting/tox.ini
  parse/EffectPythonParser.cpp
  parse/PythonParser.cpp
  parse/ValueRefPythonParser.cpp
  parse/ValueRefPythonParser.h
Labels: category:refactoring, component:content scripting, status:merged, component:internal

#4032 Make Asteroid Coating Special Rarer
  default/scripting/specials/ASTEROID_COATING.focs.txt
Labels: component:content scripting, status:merged, category:tweak

#4031 Convert default/scripting/techs/ship_weapons/short_range/SHP_ARC_DISRUPTOR.focs
  default/scripting/techs/ship_weapons/ship_weapons.py
  default/scripting/techs/ship_weapons/short_range/SHP_ARC_DISRUPTOR.focs.py
  default/scripting/techs/ship_weapons/short_range/SHP_ARC_DISRUPTOR.focs.txt
  default/scripting/techs/techs.py
  default/scripting/tox.ini
  parse/PythonParser.cpp
  parse/ValueRefPythonParser.cpp
  parse/ValueRefPythonParser.h
Labels: category:refactoring, component:content scripting, status:merged, component:internal

#4033 Add CI test for Manjaro Linux with recent 1.79 boost
  .github/manjaro/Dockerfile
  .github/workflows/build-docker.yml
Labels: component:infrastructure, status:merged, category:tweak

#4039 Fluff Trenchers
  default/stringtables/en.txt
Labels: component:art music text assets, category:tweak

#4024 Remove Py_Finalize() according to boost.python notes
  util/PythonCommon.cpp
Labels: category:bug, status:testing requested, component:internal

#4044 Also nullify influence when evacuating a planet
  default/scripting/buildings/EVACUATION.focs.txt
Labels: component:content scripting, category:tweak

#4052 Convert default/scripting/techs/ship_weapons/SHP_KRILL_SPAWN.focs
  default/scripting/techs/ship_weapons/SHP_KRILL_SPAWN.focs.py
  default/scripting/techs/ship_weapons/SHP_KRILL_SPAWN.focs.txt
  parse/TechsParser.cpp
Labels: category:refactoring, component:content scripting, status:merged, component:internal

#4055 Convert default/scripting/techs/spy/CUSTOM_ADVISORIES.focs
  default/scripting/custom_sitreps.py
  default/scripting/custom_sitreps.txt
  default/scripting/techs/spy/CUSTOM_ADVISORIES.focs.py
  default/scripting/techs/spy/CUSTOM_ADVISORIES.focs.txt
  default/scripting/tox.ini
  parse/ConditionPythonParser.cpp
  parse/EffectPythonParser.cpp
  parse/EnumPythonParser.cpp
  parse/PythonParser.cpp
  parse/SourcePythonParser.cpp
  parse/SourcePythonParser.h
  parse/ValueRefPythonParser.cpp
  parse/ValueRefPythonParser.h
Labels: category:refactoring, component:content scripting, status:merged, component:internal

#4046 Fix minor code smells
  universe/Conditions.cpp
  universe/Meter.cpp
  universe/ShipDesign.cpp
  util/SerializeUniverse.cpp
Labels: component:internal, category:tweak

#4058 Convert default/scripting/techs/spy/FORCE_ENERGY_CAMO.focs
  default/scripting/techs/spy/FORCE_ENERGY_CAMO.focs.py
  default/scripting/techs/spy/FORCE_ENERGY_CAMO.focs.txt
  default/scripting/tox.ini
  parse/ConditionPythonParser.cpp
Labels: category:refactoring, component:content scripting, status:merged, component:internal

#4062 Convert default/scripting/techs/spy/PLANET_STEALTH_MOD.focs
  default/scripting/techs/spy/PLANET_STEALTH_MOD.focs.py
  default/scripting/techs/spy/PLANET_STEALTH_MOD.focs.txt
Labels: category:refactoring, component:content scripting, status:merged

#4063 Convert default/scripting/techs/spy/STEALTH_1.focs
  default/scripting/techs/spy/STEALTH_1.focs.py
  default/scripting/techs/spy/STEALTH_1.focs.txt
  default/scripting/tox.ini
  parse/EffectPythonParser.cpp
Labels: category:refactoring, component:content scripting, status:merged, component:internal

#4068 Convert default/scripting/techs/spy/STEALTH_2.focs
  default/scripting/techs/spy/STEALTH_2.focs.py
  default/scripting/techs/spy/STEALTH_2.focs.txt
  default/scripting/tox.ini
  parse/EffectPythonParser.cpp
Labels: category:refactoring, component:content scripting, status:merged, component:internal

#4071 Convert default/scripting/techs/spy/ROOT_DECEPTION.focs
  default/scripting/techs/spy/ROOT_DECEPTION.focs.py
  default/scripting/techs/spy/ROOT_DECEPTION.focs.txt
  default/scripting/tox.ini
Labels: category:refactoring, component:content scripting

#4075 Add brackets around ValueRef::Operation
  universe/ValueRefs.h
Labels: status:merged, component:internal, category:tweak

#4056 Start to test species parser
  test/parse/TestPythonParser.cpp
Labels: category:refactoring, status:merged, component:internal

#4069 Remove Narrow tolerance description from Trith
  default/scripting/species/SP_TRITH.focs.txt
Labels: category:bug, component:content scripting

#4076 Reduce ARTISANS_INFLUENCE_FLAT_FOCUS to 2
  default/scripting/species/common/influence.macros
Labels: component:content scripting, category:tweak

#4067 Reduce bonus and malus from influence species trait
  default/scripting/species/common/influence.macros
  default/stringtables/en.txt
Labels: component:content scripting, category:tweak

#4038 Update Shield/Structure/Damage numbers in pedia
  default/stringtables/en.txt
Labels: category:tweak, component:user manual

#4078 [AI] Add functions to read game rules and use stability rules
  default/python/AI/colonization/calculate_stability.py
  default/python/AI/freeorion_tools/__init__.py
  default/python/AI/freeorion_tools/_freeorion_tools.py
Labels: component:AI, category:tweak

#4087 Fix researchability of tech Planetary Cloaking Device
  default/scripting/techs/defense/Defense.focs.py
Labels: category:bug, component:content scripting, status:merged

#4088 Start to test species in separate test folder
  test-scripting/common/base_prod.macros
  test-scripting/common/enqueue.macros
  test-scripting/common/misc.macros
  test-scripting/common/opinion.macros
  test-scripting/common/priorities.macros
  test-scripting/common/stealth.macros
  test-scripting/common/upkeep.macros
  test-scripting/species/SP_ABADDONI.focs.txt
  test-scripting/species/SpeciesCensusOrdering.focs.txt
  test-scripting/species/common/advanced_focus.macros
  test-scripting/species/common/detection.macros
  test-scripting/species/common/env.macros
  test-scripting/species/common/focus.macros
  test-scripting/species/common/fuel.macros
  test-scripting/species/common/general.macros
  test-scripting/species/common/happiness.macros
  test-scripting/species/common/industry.macros
  test-scripting/species/common/influence.macros
  test-scripting/species/common/multiplier.macros
  test-scripting/species/common/native_fortification.macros
  test-scripting/species/common/planet_defense.macros
  test-scripting/species/common/planet_shields.macros
  test-scripting/species/common/planet_size.macros
  test-scripting/species/common/population.macros
  test-scripting/species/common/research.macros
  test-scripting/species/common/shields.macros
  test-scripting/species/common/stealth.macros
  test-scripting/species/common/stockpile.macros
  test-scripting/species/common/supply.macros
  test-scripting/species/common/telepathic.macros
  test-scripting/species/common/troops.macros
  test-scripting/species/common/weapons.macros
  test-scripting/species/common/xenophobic.macros
  test/parse/TestPythonParser.cpp
Labels: category:refactoring, status:merged, component:internal

#4089 Add more checks to species parser test
  test/parse/TestPythonParser.cpp
Labels: category:refactoring, status:merged, component:internal

#4053 Ghost building should not prevent new buildings
  default/scripting/buildings/colonies/SP_ABADDONI.focs.txt
  default/scripting/buildings/colonies/SP_BANFORO.focs.txt
  default/scripting/buildings/colonies/SP_CHATO.focs.txt
  default/scripting/buildings/colonies/SP_CRAY.focs.txt
  default/scripting/buildings/colonies/SP_DERTHREAN.focs.txt
  default/scripting/buildings/colonies/SP_EAXAW.focs.txt
  default/scripting/buildings/colonies/SP_EGASSEM.focs.txt
  default/scripting/buildings/colonies/SP_ETTY.focs.txt
  default/scripting/buildings/colonies/SP_EXOBOT.focs.txt
  default/scripting/buildings/colonies/SP_FULVER.focs.txt
  default/scripting/buildings/colonies/SP_FURTHEST.focs.txt
  default/scripting/buildings/colonies/SP_GEORGE.focs.txt
  default/scripting/buildings/colonies/SP_GYSACHE.focs.txt
  default/scripting/buildings/colonies/SP_HAPPY.focs.txt
  default/scripting/buildings/colonies/SP_HHHOH.focs.txt
  default/scripting/buildings/colonies/SP_HUMAN.focs.txt
  default/scripting/buildings/colonies/SP_KILANDOW.focs.txt
  default/scripting/buildings/colonies/SP_KOBUNTURA.focs.txt
  default/scripting/buildings/colonies/SP_LAENFA.focs.txt
  default/scripting/buildings/colonies/SP_MISIORLA.focs.txt
  default/scripting/buildings/colonies/SP_MUURSH.focs.txt
  default/scripting/buildings/colonies/SP_PHINNERT.focs.txt
  default/scripting/buildings/colonies/SP_REPLICON.focs.txt
  default/scripting/buildings/colonies/SP_SCYLIOR.focs.txt
  default/scripting/buildings/colonies/SP_SETINON.focs.txt
  default/scripting/buildings/colonies/SP_SILEXIAN.focs.txt
  default/scripting/buildings/colonies/SP_SLY.focs.txt
  default/scripting/buildings/colonies/SP_SSLITH.focs.txt
  default/scripting/buildings/colonies/SP_SUPER_TEST.focs.txt
  default/scripting/buildings/colonies/SP_TAEGHIRUS.focs.txt
  default/scripting/buildings/colonies/SP_TRITH.focs.txt
  default/scripting/buildings/colonies/SP_UGMORS.focs.txt
  default/scripting/buildings/colonies/col_bld_gen.py
  default/scripting/common/enqueue.macros
Labels: category:bug, component:content scripting, component:game mechanic

#4086 Give xenophobes (Trith and Eaxaw) great stability
  default/scripting/species/SP_EAXAW.focs.txt
  default/scripting/species/SP_TRITH.focs.txt
Labels: component:content scripting, category:tweak

#4041 Destroy Artificial Moon building on use
  default/scripting/buildings/ART_MOON.focs.txt
Labels: component:content scripting, category:tweak

#4091 Basic encyclopedia page for opening policy slots
  default/scripting/encyclopedia/game_concepts/ENC_POLICY_SLOTS.focs.txt
  default/stringtables/en.txt
Labels: component:art music text assets, category:tweak

#4093 missing #include
  default/scripting/ship_parts/General/SP_SOLAR_CONCENTRATOR.focs.txt
Labels: category:bug, component:content scripting

#4079 Refactor Meter to Map code in ValueRefs.cpp
  UI/ObjectListWnd.cpp
  parse/DoubleComplexValueRefParser.cpp
  universe/UniverseObject.cpp
  universe/ValueRefs.cpp
  universe/ValueRefs.h
Labels: category:refactoring, component:internal, category:tweak

#4092 [AI] Added ExpansionPlans module
  default/python/AI/ColonisationAI.py
  default/python/AI/FreeOrionAI.py
  default/python/AI/MilitaryAI.py
  default/python/AI/PriorityAI.py
  default/python/AI/ProductionAI.py
  default/python/AI/empire/survey_universe.py
  default/python/AI/expansion_plans/__init__.py
  default/python/AI/expansion_plans/expansion_plans_implementation.py
  default/python/AI/expansion_plans/expansion_plans_interface.py
Labels: component:AI

#4095 Tweak small robot RP cost in-line with commit 4085
  default/scripting/techs/ship_hulls/robotic/SHP_SMALL_ROBO.focs.py
Labels: component:content scripting, category:tweak

#4097 [AI] Improved handling of old save files
  default/python/AI/ProductionAI.py
  default/python/AI/colonization/calculate_stability.py
  default/python/AI/freeorion_tools/_freeorion_tools.py
Labels: category:bug, component:AI

#4101 [AI] More work on economic policies
  default/python/AI/AIDependencies.py
  default/python/AI/PolicyAI.py
  default/python/AI/ResourcesAI.py
  default/python/AI/turn_state/__init__.py
  default/python/AI/turn_state/_empire_resources.py
Labels: category:feature, component:AI

#4107 Save on exit in hostless mode even if save on turn disabled
  server/ServerFSM.cpp
Labels: status:merged, component:internal, category:tweak
