Repository freeorion/freeorion, pull requests merged in 2023-11, with the labels that each got.

#4782 [FOCS] Convert species to Python
  default/scripting/species/SP_EAXAW.focs.py
  default/scripting/species/SP_EAXAW.focs.txt
  default/scripting/species/SP_SLY.focs.py
  default/scripting/species/SP_SLY.focs.txt
  default/scripting/species/SP_TRITH.focs.py
  default/scripting/species/SP_TRITH.focs.txt
  default/scripting/species/common/telepathic.py
  default/scripting/species/common/xenophobic.py
Labels: component:content scripting, status:merged, category:tweak

#4783 Accept int and float in SetEmpireMeter effect in Python FOCS parser
  parse/EffectPythonParser.cpp
Labels: category:refactoring, status:merged, component:internal

#4784 [FOCS] Convert more species
  default/scripting/species/SP_SUPERTEST.focs.py
  default/scripting/species/SP_SUPERTEST.focs.txt
  default/scripting/species/SP_TRENCHERS.focs.py
  default/scripting/species/SP_TRENCHERS.focs.txt
Labels: component:content scripting, category:tweak

#4785 Add Field and MinimumNumberOf conditions to Python FOCS
  parse/ConditionPythonParser.cpp
Labels: category:refactoring, status:merged, component:internal

#4786 [FOCS]Convert NIGHTSIDERS and NYMNMN
  default/scripting/focs/_effects.pyi
  default/scripting/species/SP_NIGHTSIDERS.focs.py
  default/scripting/species/SP_NIGHTSIDERS.focs.txt
  default/scripting/species/SP_NYMNMN.focs.py
  default/scripting/species/SP_NYMNMN.focs.txt
Labels: component:content scripting, category:tweak

#4787 Drop old FOCS support for species
  parse/SpeciesParser.cpp
Labels: category:refactoring, status:merged, component:internal

#4790 Fix Godot Windows URL
  .github/workflows/_build-windows.yml
Labels: category:bug, component:infrastructure, status:merged, status:cherry-pick for release

#4789 Start to test buildings FOCS parser
  test-scripting/buildings/ART_BLACK_HOLE.focs.txt
  test/parse/TestPythonParser.cpp
Labels: category:refactoring, status:merged, component:internal

#4788 [FOCS] Remove species macroses
  default/scripting/species/common/detection.macros
  default/scripting/species/common/empire_opinions.macros
  default/scripting/species/common/env.macros
  default/scripting/species/common/focus.macros
  default/scripting/species/common/fuel.macros
  default/scripting/species/common/general.macros
  default/scripting/species/common/happiness.macros
  default/scripting/species/common/industry.macros
  default/scripting/species/common/influence.macros
  default/scripting/species/common/native_fortification.macros
  default/scripting/species/common/planet_defense.macros
  default/scripting/species/common/planet_shields.macros
  default/scripting/species/common/planet_size.macros
  default/scripting/species/common/research.macros
  default/scripting/species/common/shields.macros
  default/scripting/species/common/stealth.macros
  default/scripting/species/common/stockpile.macros
  default/scripting/species/common/supply.macros
  default/scripting/species/common/telepathic.macros
  default/scripting/species/common/troops.macros
  default/scripting/species/common/weapons.macros
  default/scripting/species/common/xenophobic.macros
Labels: category:refactoring, component:content scripting

#4791 Move shared scripts out of scpecies common
  default/scripting/buildings/colonies/SP_ABADDONI.focs.txt
  default/scripting/buildings/colonies/SP_BANFORO.focs.txt
  default/scripting/buildings/colonies/SP_CHATO.focs.txt
  default/scripting/buildings/colonies/SP_CRAY.focs.txt
  default/scripting/buildings/colonies/SP_DERTHREAN.focs.txt
  default/scripting/buildings/colonies/SP_EAXAW.focs.txt
  default/scripting/buildings/colonies/SP_EGASSEM.focs.txt
  default/scripting/buildings/colonies/SP_ETTY.focs.txt
  default/scripting/buildings/colonies/SP_EXOBOT.focs.txt
  default/scripting/buildings/colonies/SP_FULVER.focs.txt
  default/scripting/buildings/colonies/SP_FURTHEST.focs.txt
  default/scripting/buildings/colonies/SP_GEORGE.focs.txt
  default/scripting/buildings/colonies/SP_GYSACHE.focs.txt
  default/scripting/buildings/colonies/SP_HAPPY.focs.txt
  default/scripting/buildings/colonies/SP_HHHOH.focs.txt
  default/scripting/buildings/colonies/SP_HUMAN.focs.txt
  default/scripting/buildings/colonies/SP_KILANDOW.focs.txt
  default/scripting/buildings/colonies/SP_KOBUNTURA.focs.txt
  default/scripting/buildings/colonies/SP_LAENFA.focs.txt
  default/scripting/buildings/colonies/SP_MISIORLA.focs.txt
  default/scripting/buildings/colonies/SP_MUURSH.focs.txt
  default/scripting/buildings/colonies/SP_PHINNERT.focs.txt
  default/scripting/buildings/colonies/SP_REPLICON.focs.txt
  default/scripting/buildings/colonies/SP_SCYLIOR.focs.txt
  default/scripting/buildings/colonies/SP_SETINON.focs.txt
  default/scripting/buildings/colonies/SP_SILEXIAN.focs.txt
  default/scripting/buildings/colonies/SP_SLY.focs.txt
  default/scripting/buildings/colonies/SP_SSLITH.focs.txt
  default/scripting/buildings/colonies/SP_SUPER_TEST.focs.txt
  default/scripting/buildings/colonies/SP_TAEGHIRUS.focs.txt
  default/scripting/buildings/colonies/SP_TRITH.focs.txt
  default/scripting/buildings/colonies/SP_UGMORS.focs.txt
  default/scripting/buildings/colonies/col_bld_gen.py
  default/scripting/common/advanced_focus.macros
  default/scripting/common/misc.macros
  default/scripting/common/misc.py
  default/scripting/common/multiplier.macros
  default/scripting/common/multiplier.py
  default/scripting/policies/EXOBOT_PRODUCTIVITY.focs.txt
  default/scripting/specials/planet/STARLANE_DRIVE_ACTIVATED.focs.txt
  default/scripting/species/common/industry.py
  default/scripting/species/common/population.macros
  default/scripting/species/common/population.py
  default/scripting/species/common/research.py
  default/scripting/techs/ship_hulls/SHP_GAL_EXPLO.focs.py
  pyproject.toml
Labels: component:content scripting, category:tweak

#4794 Update Arch Linux package URL in README.md
  README.md
Labels: category:bug, component:user manual

#4793 [FOCS] Refactor industry
  default/scripting/species/common/industry.py
Labels: category:refactoring, component:content scripting

#4795 [FOCS] Cleanup species scripts
  default/scripting/species/SP_ABADDONI.focs.py
  default/scripting/species/SP_CHATO.focs.py
  default/scripting/species/SP_CRAY.focs.py
  default/scripting/species/SP_EAXAW.focs.py
  default/scripting/species/SP_EGASSEM.focs.py
  default/scripting/species/SP_ETTY.focs.py
  default/scripting/species/SP_FULVER.focs.py
  default/scripting/species/SP_GEORGE.focs.py
  default/scripting/species/SP_GYSACHE.focs.py
  default/scripting/species/SP_HUMAN.focs.py
  default/scripting/species/SP_LAENFA.focs.py
  default/scripting/species/SP_REPLICON.focs.py
  default/scripting/species/common/detection.py
  default/scripting/species/common/fuel.py
  default/scripting/species/common/happiness.py
  default/scripting/species/common/industry.py
  default/scripting/species/common/influence.py
  default/scripting/species/common/native_fortification.py
  default/scripting/species/common/planet_defense.py
  default/scripting/species/common/planet_shields.py
  default/scripting/species/common/planet_size.py
  default/scripting/species/common/population.py
  default/scripting/species/common/research.py
  default/scripting/species/common/shields.py
  default/scripting/species/common/stockpile.py
  default/scripting/species/common/troops.py
  default/scripting/species/common/weapons.py
  default/scripting/species/common/xenophobic.py
  test-scripting/species/SP_ABADDONI.focs.py
  test-scripting/species/common/planet_size.py
Labels: component:content scripting, category:tweak
