Repository freeorion/freeorion, pull requests merged in 2023-02, with the labels that each got.

#4310 Xenophobic Selfsustaining Population Malus depend on distance to alien planet
  default/scripting/species/SP_ANCIENT_GUARDIANS.focs.txt
  default/scripting/species/SP_EXOBOT.focs.txt
  default/scripting/species/common/xenophobic.macros
  default/stringtables/en.txt
Labels: component:content scripting, status:testing requested, status:cherry-pick for release, category:tweak, priority:high

#4307 NoDefault..Effects PartCapacity/HullStructure should return unscaled values
  universe/ShipHull.cpp
  universe/ShipHull.h
  universe/ShipPart.cpp
Labels: category:bug, component:content scripting, status:testing requested, component:internal, category:tweak

#4381 Add SitRep about failed colonization or outpust
  default/stringtables/en.txt
  server/ServerApp.cpp
  util/SitRepEntry.cpp
  util/SitRepEntry.h
Labels: category:feature, status:testing requested, component:UI, status:cherry-pick for release

#4377 Zero Point Fuel Generator tweaks
  default/scripting/ship_parts/Fuel/FU_ZERO_FUEL.focs.txt
  default/stringtables/en.txt
Labels: component:content scripting, status:cherry-pick for release, category:tweak, component:user manual

#4391 Reduce PLC_VASSALIZATION_INFLUENCE_SCALING to 2
  default/scripting/policies/VASSALIZATION.focs.txt
Labels: component:content scripting, status:cherry-pick for release, category:tweak

#4393 Condition Limit Fixes
  universe/Conditions.cpp
Labels: category:bug, component:internal, status:cherry-pick for release, category:tweak

#4389 Bar ancient guardians from vassalization
  default/scripting/policies/VASSALIZATION.focs.txt
  default/stringtables/en.txt
Labels: component:content scripting, category:tweak

#4395 remove LGTM script
  .lgtm.yml
Labels: component:infrastructure, status:merged, status:cherry-pick for release, category:tweak

#4390 Switch Ancient Guardians to Protection Focus
  default/scripting/species/SP_ANCIENT_GUARDIANS.focs.txt
  default/stringtables/en.txt
Labels: component:content scripting, category:tweak

#4249 Align Snowflake detection with radar scouts/Align Psionic Snowflake detection with black kraken
  default/scripting/ship_hulls/monster/SH_PSIONIC_SNOWFLAKE_BODY.focs.txt
  default/scripting/ship_hulls/monster/SH_SNOWFLAKE_1_BODY.focs.txt
  default/scripting/ship_hulls/monster/SH_SNOWFLAKE_2_BODY.focs.txt
  default/scripting/ship_hulls/monster/SH_SNOWFLAKE_3_BODY.focs.txt
  default/scripting/ship_hulls/ship_hulls.macros
  default/stringtables/en.txt
Labels: component:content scripting, category:tweak

#4387 Fix missing scaling
  default/scripting/specials/planet/FORTRESS.focs.txt
  default/scripting/techs/defense/Defense.focs.py
  default/stringtables/en.txt
Labels: category:bug, component:content scripting, status:cherry-pick for release

#4397 Clarify SolarOrbitalGenerator's effect in pedia
  default/stringtables/en.txt
Labels: category:tweak, component:user manual

#4392 Add advanced_native_defense for Mu Ursh/Kobuntura
  default/scripting/species/SP_KOBUNTURA.focs.txt
  default/scripting/species/SP_MUURSH.focs.txt
  default/scripting/species/common/native_fortification.macros
Labels: component:content scripting, category:tweak

#4388 Use Namedreals for system mines in pedia
  default/scripting/techs/defense/Defense.focs.py
  default/stringtables/en.txt
Labels: component:content scripting, status:cherry-pick for release, category:tweak

#4403 Add numbers to Moderation Policy in Pedia
  default/stringtables/en.txt
Labels: component:art music text assets, category:tweak, component:user manual

#4406 Heavy asteroid hulls: correct number of internal slots in descriptions
  default/stringtables/de.txt
  default/stringtables/en.txt
  default/stringtables/fr.txt
  default/stringtables/ru.txt
Labels: category:bug, component:translation, status:cherry-pick for release, component:art music text assets, component:user manual

#4404 Generate better version name for release & candidates in snapcraft
  snap/snapcraft.yaml
Labels: status:cherry-pick for release, component:deployment, category:tweak
